<div id="dlg-collect-scripts" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dlg-collect-scripts-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="dlg-collect-scripts-label">Enter scripts</h3>
      </div>
      <div class="modal-body">
        <p>
          Select script version to run for <strong id="dlg-collect-scripts-project-name"></strong>
          (configuration: <strong id="dlg-collect-scripts-project-configuration-name"></strong>)<br />
          Database will be updated to selected version.
        </p>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="dlg-collect-scripts-select" class="col-sm-2 control-label">Scripts:</label>
            <div class="col-sm-10">
              <select id="dlg-collect-scripts-select" name="dlg-collect-scripts-select" class="form-control"></select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="dlg-collect-scripts-ok" class="btn btn-primary">OK</button>
        <button id="dlg-collect-scripts-cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
      <input type="hidden" id="dlg-collect-scripts-deployment-id" name="dlg-collect-scripts-deployment-id" value="" />
    </div>
  </div>
</div>
