<div id="dlg-collect-credentials" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dlg-collect-credentials-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="dlg-collect-credentials-label">Enter credentials</h3>
      </div>
      <div class="modal-body">
        <p>
          Credentials are needed to perform deployment of project <strong id="dlg-collect-credentials-project-name"></strong>
          (configuration: <strong id="dlg-collect-credentials-project-configuration-name"></strong>)
          to environment <strong id="dlg-collect-credentials-target-environment-name"></strong>.
        </p>
        <div class="form-horizontal">
          <div class="form-group">
            <label for="dlg-collect-credentials-username" class="col-sm-2 control-label">Username:</label>
            <div class="col-sm-10">
              <input type="text" id="dlg-collect-credentials-username" name="dlg-collect-credentials-username" class="form-control" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label for="dlg-collect-credentials-machine-name" class="col-sm-2 control-label">Machine:</label>
            <div class="col-sm-10">
              <input type="text" id="dlg-collect-credentials-machine-name" name="dlg-collect-credentials-machine-name" class="form-control" readonly="readonly" />
            </div>
          </div>
          <div class="form-group">
            <label for="dlg-collect-credentials-password" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
              <input type="password" id="dlg-collect-credentials-password" name="dlg-collect-credentials-password" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="dlg-collect-credentials-ok" class="btn btn-primary">OK</button>
        <button id="dlg-collect-credentials-cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
      <input type="hidden" id="dlg-collect-credentials-deployment-id" name="dlg-collect-credentials-deployment-id" value="" />
    </div>
  </div>
</div>
