<div id="package-dir-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="package-dir-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="package-dir-modal-label">Enter directory path for manual deployment package.</h3>
      </div>
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="txt-package-dir" class="col-sm-2 control-label">Directory:</label>
            <div class="col-sm-10">
              <input type="text" id="txt-package-dir" class="form-control" required="required" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="btn-package-ok" class="btn btn-primary">OK</button>
        <button id="btn-package-cancel" data-dismiss="modal" aria-hidden="true" class="btn">Cancel</button>
      </div>
    </div>
  </div>
</div>
