<div id="dlg-confirm-restore" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dlg-confirm-restore-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="dlg-confirm-restore-label">Enter credentials</h3>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to restore entire <strong id="dlg-confirm-restore-target-environment-name"></strong> environment?
        </p>
      </div>
      <div class="modal-footer">
        <button id="dlg-confirm-restore-ok" class="btn btn-primary">Yes</button>
        <button id="dlg-confirm-restore-cancel" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
      <input type="hidden" id="dlg-confirm-restore-deployment-id" name="dlg-confirm-restore-deployment-id" value="" />
    </div>
  </div>
</div>
